<html ng-app="myapp">
<head>
</head>
<body ng-controller="addUserController">

<a href="/users/login/facebook">login with facebook</a>

<input type="text" ng-model="userName"></input>
<input type="password" ng-model="password"></input>
<input type="submit" value="Login" ng-click="loginFaceBook()"></input>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
<script src="/javascripts/lib/angular/angular.min.js"></script>
<script src="/javascripts/lib/angular/angular-resource.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/services.js"></script>
<script src="/javascripts/controllers.js"></script>
</body>
</html>