<html ng-app="myapp">
<head>
</head>
<body ng-include="../users.ejs" ng-controller="addUserController">
<div><span>User Name</span><input type="text" ng-model="userName"></input></div>
<div><span>First Name</span><input type="text" ng-model="firstName"></input></div>
<div><span>Last Name</span><input type="text" ng-model="lastName"></input></div>
<div><span>Emai </span><input type="text" ng-model="email"></input></div>
<div><span>Phone</span><input type="text" ng-model="phone"></input></div>
<div><span>Mobile</span><input type="text" ng-model="mobile"></input></div>
<div><span>AddressLine1</span><input type="text" ng-model="addressline1"></input></div>
<div><span>AddressLine2</span><input type="text" ng-model="addressline2"></input></div>
<div><span>City</span><input type="text" ng-model="city"></input></div>
<div><span>State</span><input type="text" ng-model="state"></input></div>
<div><span>Country</span><input type="text"ng-model="country"></input></div>
<div><span>Pin</span><input type="text" ng-model="pin"></input></div>



<input type="submit" value="save" ng-click="adduserNode()" id="saveButton" ></input>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
<script src="/javascripts/lib/angular/angular.min.js"></script>
<script src="/javascripts/lib/angular/angular-resource.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/services.js"></script>
<script src="/javascripts/controllers.js"></script>
</body>
</html>






